.bp3-button.bp3-minimal.refresh {
    color: rgb(48,64,77);
    margin-bottom: 5px;
    margin-left: auto;
    margin-top: 5px;
}

.searchbar {
    display: flex;
    height: 37px;
}

.searchinput {
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    max-width: 300px;
}
